
/* ==========================================================================
   	OPTIONAL MODULES
   ========================================================================== */

// Enable any of the following by switching the variable to true.
$use-breadcrumbs:       false;
$use-buttons:           true;
$use-fluid-type:        true;
$use-grid:              true;
$use-joomla-modules:    true;
$use-labels:            true;
$use-media:             true;
$use-nav:               true;
$use-pagination:        true;
$use-rows:              true;
$use-tables:            true;
$use-wells:             true;
$use-wrapper:           false;


/* ==========================================================================
   	OVERRIDE VARIABLES
   ========================================================================== */

//
// Place any variables that should override framework defaults here.
//
// e.g.;
//
// $root-font-family: Helvetica, "Helvetica Neue", sans-serif!;
//
// or:
//
// $heading-font-weight: 600;
//
$menu-background:  black;
$sans-font-family: 'Open Sans',sans-serif;
$comic-family:     'Margarine', "Comic Sans MS", sans-serif;
$serif-family:     'Forum', serif;
$brand-color: 	   #BF9515; //
$root-font-color:  #EFEFEF; // $brand-color;

$brand-background:  $menu-background;
$root-font-weight:      300;
$heading-font-weight:   300;

/* Sets the html background dark for a faux footer. */
$root-background:      black;
$body-background:      black;

$link-color: $brand-color;
/* #cd6e57; */

$palm:                  25em!default;

/* ==========================================================================
   	CUSTOM VARIABLES
   ========================================================================== */

//
// Place your own variables here.
//
// E.g.:
//
// $sandwich-filling:    bacon!default;
//
//$wrapper-max-width: 65em;
$body-max-width: 85em;
$wrapper-side-padding: 1em;
