
/* ==========================================================================
    LOGO
   ========================================================================== */

.logo {

	@extend .grid-item;
	@extend .kilo;

  width: 100%;
  font-family: $serif-family;
  font-size: 1.5em;

  @include media-query(lap) {
		@extend .lap-two-fifths;
		margin-bottom: 0;
		vertical-align: middle;
    font-size: 2.7em;
	}
}
