@if $use-wells == true{

/* ==========================================================================
    WELLS
   ========================================================================== */

.rounded {
         border-radius: $brand-radius;
}

.well {
	@extend .rounded;
	background: $brand-background;
	border: 1px solid $brand-border;
}

}//endif
